.row
  .col-sm-6
    = simple_form_for @message, html: { class: 'form-horizontal', multipart: true } do |f|
      = f.input :to, placeholder: 'Enter e-mail of recipient'
      = f.input :subject, placeholder: 'Enter subject'
      = f.input :body, placeholder: 'Enter Message'
      = f.input :attachment

      .col-md-offset-3
        = f.submit 'Send', class: 'btn btn-primary'
        = f.submit 'Save as draft', class: 'btn btn-default'
